<div class="card form">
    <h1>Register</h1>
    <hr>

    <%= form_for @user do %>
        <%= email_field :user, :email, placeholder: "Email" %>
        <%= password_field :user, :password, placeholder: "Password" %>
        <%= password_field :user, :password_confirmation, placeholder: "Confirm password" %>
        <%= submit_tag "Register", class: "greenbtn" %>
    <% end %>
</div>